<div class='data'>
  <div class='overlay'>
    <div class='container'>
    <div class='data-box'>
      <h1>España es el sexto país que más comida desperdicia</h1>
      <p>"Se tiran 7,7 millones de toneladas”, según José Miguel Herrero, subdirector general de Estructura de la cadena alimentaria del  Ministerio de Agricultura, Alimentación y medio Ambiente (MAGRAMA).</p>
      <hr class='separator'></hr>
      <a href='/donor/donate' class='btn-do'>Leer más</a>
    </div>
    </div>
  </div>
</div>