<h2 class='center'>¿Cómo funciona?</h2>
<div class='relative'>
<div class='white-back'>
</div>
<div class='container'>
<div class='row'>
  <div class='col-md-4 col-sm-4 col-xs-12 margin-helper'>
    <div class='icon-box'>
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </div>
    <div class='white-text-box'>
      <div class='circle'></div>
      <div class='number'><p>1</p>
      </div>
      <h3>Registrate como donante o como banco de alimentos</h3>
      <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people.</p>
    </div>
  </div>
  <div class='col-md-4 col-sm-4 col-xs-12'>
    <div class='icon-box'>
      <span class='glyphicon glyphicon-list-alt'></span>
    </div>
    <div class='white-text-box'>
      <div class='circle'></div>
      <div class='number'><p>2</p>
      </div>
      <h3>Haz una donación formal o busca la necesaria</h3>
      <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people.</p>
    </div>
  </div>
  <div class='col-md-4 col-sm-4 col-xs-12'>
    <div class='icon-box'>
      <span class='glyphicon glyphicon-signal'></span>
    </div>
    <div class='white-text-box'>
      <div class='circle'></div>
      <div class='number'><p>3</p>
      </div>
      <h3>Haz visible tu negocio y frena el desperdicio</h3>
      <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people.</p>
    </div>
  </div>
</div>
</div>
</div>
