<img class="back-img" src="http://thumbs.dreamstime.com/z/soy-beans-soy-milk-glass-glycine-max-l-merr-29800394.jpg">

<div class='presentation-white-back'></div>
<div class='triangle'></div>
<div class='triangle back'></div>
<div class='index-welcome aligner-item'>
  <div class='image-logo'>
    <img src="<%= asset_path('logo-feedonate.png') %>">
  </div>
  <h1 class='first-title'>Feedonate</h1>
  <hr class='separator'></hr>
</div>