<img class="back-img" src="http://dev.chfa.ca/wp-content/uploads/2015/02/Organic-Food.jpg">

<div class='presentation-white-back'></div>
<div class='triangle'></div>
<div class='triangle back'></div>
<div class='index-welcome aligner-item'>
  <div class='image-logo'>
    <img src="<%= asset_path('logo-feedonate.png') %>">
  </div>
  <h1 class='first-title'>Feedonate</h1>
  <h2 class='main-description'>Contactando donantes y bancos de alimentos en España</h2>
  <hr class='separator minor'></hr>
</div>