<div class='head-image'>
  <div class='overlay'></div>
    <h1 class='single-page'>Bancos de alimento</h1>
    <h2 class='single-page'>Aquí encontrarás los bancos de alimentos registrados.</h2>
  <img src='http://www.crossfoodministry.org/wp-content/uploads/2015/07/Food-Pantry.jpg'>
</div> 
<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <ul class='elements'>
      <% @banks.each do |bank| %>
        <li><%= bank.name %></li>
      <% end %>
      </ul>
    </div>
    <div class='col-md-6'>
      <div class='map-box margin-for-head-image'>
      <div class='overlay-map'></div>
        <iframe src="https://www.google.com/maps/d/embed?mid=zld0wgpwkq24.ksQeFZlO5feA&hl=en_US">
        </iframe>
      </div>
    </div>
  </div>

<hr class='separator minor'></hr>
  <div class="load-more-container">

    <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
    <%= link_to "Load More", donations_path, class: "btn-do load-more margin-helper" %>
  </div>
</div>