<% if user_signed_in? %>
  <h2>HEY <%= current_user.name %></h2>
  <p><%= current_user.address %></p>
  <%= link_to 'logout', destroy_user_session_path, method: 'DELETE' %>
<% else %>
  <h2>Nobody logged in</h2>
<% end %>