<% if user_signed_in? %>
  <% if current_user.is_a_donor? %>
    <a href='#' class='btn-do'>Donar</a>
  <% else %>
    <a href='#' class='btn-do'>Buscar canastas</a>
  <% end %>
<% else %>
<div class='link-group'>
  <a data-toggle="modal" data-target="#sign-modal" href="#" class='signup btn-do group'>Regístrate</a>
  <a data-toggle="modal" data-target="#sign-modal" href="#" class='signin btn-do group'>Inicia sesión</a>
</div>
<% end %>