<div class='index-welcome aligner-item'>
  <div class='image-logo'>
    <img src="<%= asset_path('logo-prueba-c.gif') %>">
  </div>
  <h1 class='first-title'>Feedonate</h1>
  <hr class='separator'></hr>
</div>