<section class='aligner background'>
<div class='container'>
  <div class='index-welcome aligner-item'>
    <h1 class='first-title'>Feedonate</h1>
    <hr class='separator'></hr>
  </div>
  <div class="modal fade" id="sign-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Regístrate o inicia sesión</h4>
        </div>
        <div class="modal-body">
          <div class='col-md-6 col-sm-6'>
            <!-- append sign_up/sign_in -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <% if current_user.is_a_donor? %>
      <a href='#' class='btn-do'>Hacer una donación</a>
    <% else %>
      <a class='btn btn-success'>Buscar canastas</a>
    <% end %>
  <% else %>
    <a data-toggle="modal" data-target="#sign-modal" href="#" class='signup btn btn-success'>Regístrate</a>
    <a data-toggle="modal" data-target="#sign-modal" href="#" class='signin btn btn-success'>Inicia sesión</a>
  <% end %>
</div>
</div>