<h2 class='center'>Donaciones recientes</h2>
<div class='row'>
  <% @donations.each do |donation| %>
      <div class='col-md-4 col-sm-4 col-xs-12'>
        <div class='donor-box'>
          <% if donation.description.present? %>
              <p><%= "- #{donation.description}" %></p>
              <p><%= "- #{donation.user.name}" %></p>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<hr class='separator'></hr>
<a href='#' class='btn-do margin-helper'>Ver todas</a>