<h2 class='center'>Ranking de donantes</h2>
<div class='row'>
  <div class='col-md-4 col-sm-4 col-xs-12'>
    <div class=''>
      <h3>Nuestros donantes más generosos</h3>
      <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, because you're here shopping for an infant named Jeb.</p>
    </div>
  </div>
  <div class='col-md-8 col-sm-8 col-xs-12'>
    <div class='map-box margin-helper divided'>
    </div>
    <div class="row">
      <div class='col-md-6 col-sm-6 col-xs-12'>
        <div class='donor-box'>
        </div>
      </div>
      <div class='col-md-6 col-sm-6 col-xs-12'>
        <div class='donor-box'>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class='separator'></hr>
<a href='#' class='btn-do margin-helper'>Ver ranking</a>
