<div class='col-md-4 col-sm-6 col-xs-12'>
  <div class='donor-box margin-helper divided' data-id="<%= donation.id %>">
    <% if donation.description.present? %>
        <h6>Donante</h6>
        <h3><%= "#{donation.user.name}" %></h3>
        <h5>Estado<span>Disponible</span></h5>
        <div class='bottom'>
          <a href='/donations' class='btn-do'>Ver canasta</a>
        </div>
    <% end %>
  </div>
</div>
