<div class='head-image'>
  <div class='overlay'></div>
    <h1 class='single-page'>Donaciones</h1>
    <h2 class='single-page'>Aquí encontrarás todas las donaciones disponibles.</h2>
  <img src='http://www.ewao.com/wp-content/uploads/2016/02/health-organic-food-2716-x-1810-agracultura.org_.jpg'>
</div>
<div class='container'>
<div class='row margin-for-head-image'>
  <div id='donations'>
    <%= render @donations %>
  </div>
</div>

<hr class='separator minor'></hr>
  <div class="load-more-container">

    <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
    <%= link_to "Load More", donations_path, class: "btn-do load-more margin-helper" %>
  </div>

</div>