 @font-face {
    font-family: 'League Gothic';
    src: url('../assets/leaguegothic-regular-webfont.eot');
    src: url('../assets/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../assets/leaguegothic-regular-webfont.woff') format('woff'),
         url('../assets/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../assets/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'leaguegothic';
    src: url('../assets/leaguegothic-regular-webfont.eot');
    src: url('../assets/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../assets/leaguegothic-regular-webfont.woff') format('woff'),
         url('../assets/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../assets/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Muli';
    src: url('muli-light-webfont.eot');
    src: url('muli-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('muli-light-webfont.woff2') format('woff2'),
         url('muli-light-webfont.woff') format('woff'),
         url('muli-light-webfont.ttf') format('truetype'),
         url('muli-light-webfont.svg#mulilight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('muli-webfont.eot');
    src: url('muli-webfont.eot?#iefix') format('embedded-opentype'),
         url('muli-webfont.woff2') format('woff2'),
         url('muli-webfont.woff') format('woff'),
         url('muli-webfont.ttf') format('truetype'),
         url('muli-webfont.svg#muliregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('muli-semibold-webfont.eot');
    src: url('muli-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('muli-semibold-webfont.woff2') format('woff2'),
         url('muli-semibold-webfont.woff') format('woff'),
         url('muli-semibold-webfont.ttf') format('truetype'),
         url('muli-semibold-webfont.svg#mulisemibold') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('muli-bold-webfont.eot');
    src: url('muli-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('muli-bold-webfont.woff2') format('woff2'),
         url('muli-bold-webfont.woff') format('woff'),
         url('muli-bold-webfont.ttf') format('truetype'),
         url('muli-bold-webfont.svg#mulibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

