// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

/* Medium Devices, Desktops */
@media only screen and (min-width : 1085px) {
  .container{
    width: 1085px !important;
  }
}

@media only screen and (max-width : 992px) {
  .container{
    width: 870px !important;
  }
}

@media only screen and (max-width : 870px) {
  .container{
    width: 80% !important;
    .w-100, &.h-100{
      width: 100% !important;
    }

  }
}

@media only screen and (max-width : 480px) {
  .container{
    width: 100% !important;
    .w-100{
      width: 33.33333333%;
    }
  }
}

#flash{
  position: relative;
  width: 100%;
  background-color: rgba(70,180,140, 0.6);
  top: 55px;
  display: block !important;
  z-index: 2;
  padding: 12px 0 15px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.notification{
  background-color: #f2ab4c;
  padding: 5px 10px;
  color: #fff;
  top: 10px;
  float: left;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
}

.top_navbar{
  background-color: $blue-security !important;
  position: fixed !important;
  z-index: 10;
  width: 100%;
  height: 55px;
  a{
    color: #fff !important;
    padding: 0 15px;
    font-size: $font-size-links;
  }
}

a{
  &:hover{
  text-decoration: none;
  }
}

.logo-section{
  height: auto;
  img{
    width: 20px;
    position: relative;
    top: -5px;
  }
}

.menu{
  padding: 0;
  margin: 0;
  li{
    display: inline-block;
    color: #fff;
  }
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.user-section{
  text-align: right;
}

#sign-modal{
  .top_navbar{
    display: none;
  }
  footer{
    display: none;  
  }
}

footer{
  background-color: $blue-security;
  padding: 20px 0; 
  height: auto;
  color: #fff;
  p{
    text-align: center;
  }
  .redes{
    span{
      font-size: 36px;
      margin-right: 20px;
    }
  }
  .glyphicon{
    display: inline-block !important;
    margin-right: 5px;
  }
  h4{
    margin-bottom: 20px;
  }
  ol{
    li{
      padding: 5px 0;
      a{
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  p{
    font-size: 14px;
    line-height: 22px !important;
    line-height: 19px;   
  }
}

// banks
ul.elements{
  padding: 0;
  margin: 30px 0;
  li{
      list-style: none;
      font-size: 18px;
      width: 100%;
      background-color: #fff;
      padding: 20px;
      border-bottom: 1px solid rgba(106, 155, 195, 0.8);
      box-shadow: 2px 2px rgba(106, 155, 195, 0.8);
    }
}