//fonts

$font-size-links: 16px;
$font-size-paragraph: 14px;
$blue-security: rgba(106, 155, 195, 1);
$blue-security-light: rgba(106, 155, 195, 0.8);

//colors

$color-grey: #bdbcbc;
$color-grey-dark: #a6a6a6;



