// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.glyphicon{
  text-align: center;
  display: block !important;
}

.glyphicon-signal:before, .glyphicon-pencil:before, .glyphicon-list-alt:before {
  content: "\e018";
  /* color: #fff; */
  font-size: 85px;
  position: relative;
  color: $blue-security-light;
  top: 10px;
  text-shadow: 3px -3px #fff;
  }

.glyphicon-user:before{
  font-size: 20px;
  top: 17px;
  position: relative;
}

.glyphicon-king:before{
  font-size: 60px;
  top: 20px;
  color: $blue-security-light;
  position: relative;
}

.glyphicon-star{
  font-size: 30px;
  top: 12px !important;
  color: $blue-security-light;
  position: relative;
}

body{
  font-family: 'Muli' !important;
  font-weight: 300;
  //background-color: #65A8DC !important; 
  background-color: #FAFBFA!important;
  color: $blue-security !important;
}

.background{
  width: 100%;
  height: 95vh;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
  .back-img{
    position: absolute;
    top: -10%;
    z-index: -3;
    width: 100%;
    left: 0px;
    right: 0;
    margin-left: auto;
    margin-right: auto;

  }
  .triangle{
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-right: 40px solid transparent;
  border-top: 40px solid transparent;
  border-left: 40px solid transparent;
  border-bottom: 40px solid #FAFBFA;
  z-index: 3;
    &.back{ 
      border-bottom: 50px solid rgba(106, 155, 195, 0.4);
      z-index: 2;
    }
  }
}

.presentation-white-back{
  box-shadow: inset 0px -15px 0px rgba(106, 155, 195, 0.4);
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0.8;
  background-color: #fff;
  width: 100%;
  z-index: -1;
  left: 0;
  height: 102%;
}

.relative{
  position: relative!important;
}

.white-back{
  position: absolute;
  height: 220px;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

.white-text-box{
  background-color: #fff;
  position: relative;
  padding: 15px 20px;
  box-shadow: 3px 3px 0px rgba(106, 155, 195, 0.4);
  .circle{
    border-radius: 100%;
    width: 80px;
    position: absolute;
    top: -40px;
    z-index: -2;
    height: 80px;
    background-color: #fff;
    box-shadow: 4px 0px 0px rgba(106, 155, 195, 0.4);
  }
  .number{
    border-radius: 100%;
    width: 80px;
    position: absolute;
    top: -40px;
    z-index: -1;
    z-index: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    p{
      font-size: 28px !important;
      font-weight: 100;
      position: relative;
      top: -10px;
    }
  }
}

.index-welcome{
  margin: 0 auto;
}

p{
  font-size: 16px;
  font-weight: 200;
  line-height: 26px;
}

h2.main-description{
  padding-top: 12px !important;
  margin-bottom: 0 !important;
  width: 500px;
  margin: 0 auto !important;
  line-height: 35px;
  font-weight: 200 !important;
  font-size: 26px !important;
  text-align: center;
  text-shadow: 1px 1px #fff;
}

h1{
  font-weight: 200;
}

h1.first-title {
  font-family: 'League Gothic';
  font-size: 100px;
  text-align: center;
  text-shadow: 1px 1px #fff;
  color: $blue-security-light;
  line-height: 80px;
  margin: 0;
}

h1.logo{
  font-size: 25px;
  margin: 0;
  color: #fff;
  line-height: 23px;
  font-family: 'League Gothic';
  display: inline-block;
}

h1.single-page{
  font-size: 44px;
  font-weight: 400;
  top: 65px;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 1px 1px #fff;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

h2.single-page{
  font-size: 22px !important;
  font-weight: 300 !important;
  top: 150px;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 1px 1px #fff;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

h1.donation-title {
  font-weight: 500 !important;
  margin-top: 0px !important;
}

h2{
  font-size: 34px !important;
  font-weight: 100 !important;
  margin: 0 0 60px !important;
  text-shadow: 1px 1px #fff;
  &.center{
    text-align: center
  }
}

h3{
  font-size: 22px !important;
  line-height: 28px !important;
  font-weight: 300 !important;
  margin: 0 0 20px 0 !important;
}

.link-group{
  display: block;
  text-align: center;
  margin: 0 auto;
}

.btn-do{
  font-family: 'Muli';
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 35px;
  border: 2px solid $blue-security;
  color: $blue-security;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  display: table;
  &.btn-disabled{
    border: 1px solid rgba(106, 155, 195, 0.2);
    color: rgba(106, 155, 195, 0.2);
    &:hover{
      color: rgba(106, 155, 195, 0.2);
    }
  }
  &.group{
    display: inline-table;
  }
  &:hover{
    text-decoration: none;
    color: #fff;
    background-color: $blue-security-light;
  }
}

.index-link{
  padding: 0 !important;
}

.image-logo{
  width: 155px;
  margin: 0 auto;
  padding-bottom: 20px;
  img{
    width: 100%;
    opacity: 0.8;
  }
}

hr.separator{
  width: 80px;
  border-width: 4px;
  margin: 35px auto;
  border-color: $blue-security-light;
  &.minor{
    margin: 25px auto 30px;
  }
}

.icon-box{
  width: 150px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.donor-box{
  width: 100%;
  height: 250px;
  margin: 0 auto;
  background-color: #FFF; 
  color: $blue-security;
  position: relative;
  box-shadow: 3px 3px 0px rgba(106, 155, 195, 0.4);
  padding: 20px;
  img.element{
    position: absolute;
    width: 100px;
    left: 20px;
    z-index: 4;
    top: 20px;
  }
  img.element-2{
    position: absolute;
     width: 100px;
    left: 20px;
    z-index: 4;
    top: 20px;
  }
  .bottom{
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
  }
  .btn-do{
    padding: 6px 20px;
    color: #fff;
    font-weight: 100;
    border-color: #fff;
    font-size: 14px;
    text-align: center;
    color: #6a9bc3;
    border: 1px solid #6a9bc3;
    &:hover{
      background-color: #fff;
      color: $color-grey-dark;
    }
  }
  .donor-logo-container{
    height: 60px;
    width: 60px;
    background-color: transparent;
    float: right;
    border-radius: 100%;
    border: 1px solid $blue-security;
    display: inline-block;
  }

  h6{
    margin: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 100;
  }
  h3{
    font-size: 28px !important;
    font-weight: 500 !important;
    padding-bottom: 15px;
    width: auto;
    display: inline-block;
    border-bottom: 3px solid $blue-security;
  }
  h5{
    margin: 0;
    font-weight: 400;
    padding-bottom: 20px;
    span{
      //background-color: #46B48C; 
      border-bottom: 1px solid $blue-security;
      padding: 0px 12px 3px;
      margin-left: 6px;
    }
  }
}

.map-box{
  width: 100%;
  height: 350px;
  margin: 0 auto;
  background-color: $color-grey; 
  overflow: hidden;
  position: relative;
  color: #fff;
  .overlay-map{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(250, 251, 250, 0.3);
    z-index: 1; 
  }
  iframe{
    width: 100% !important;
    border: 0px;
    overflow: hidden; 
    height: 396px;
    top: -46px;
    position: relative;
    .i4ewOd-pzNkMb-haAclf{ 
        display: none !important;
        left: 5px !important;
    }
  }
}

.data{
  height: 490px;
  background-color: #fff;
  margin-bottom: 60px;
  background-image: url('http://www.comunidadism.es/wp-content/uploads/2013/10/desperdicio-de-comida.jpg');
  background-position: 51% 94%;
  background-size: 142%;
  .overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(250, 251, 250, 0.9);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    .data-box{
      position: relative;
      top: -10px;
      h1{
      text-align: center;
      color: #6a9bc3;
      padding-bottom: 40px;
      margin: 0 auto;
      width: 60%;
      line-height: 52px;
      text-shadow: 1px 1px #fff;
      font-size: 36px;
      font-weight: 200;
      }
      p{
      font-weight: 400;
      text-shadow: 1px 1px #fff;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #6a9bc3;
      width: 50%;
      margin: 0 auto;
      }
    }
  }
}


.frame-for-circle{
  width: 100%;
  height: 380px;
  margin: 0 auto;
  position: relative;
  .m-circle{
    border-radius: 100%;
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    z-index: 0;
    margin-left: auto;
    box-shadow: 4px 0px 0px rgba(106, 155, 195, 0.4);
    margin-right: auto;
    background-color: #fff;
    left: 0;
    right: 0;
    &.minor{
      width: 100px;
      top: -40px;
      height: 100px;
    }
  }
  &.with-minor-circle{
    height: 275px;
  }

  .ranking-major-box{
    background-color: #fff;; 
    width: 100%;
    height: 270px;
    bottom: 30px;
    box-shadow: 3px 3px 0px rgba(106, 155, 195, 0.4);
    position: absolute;
    color: $blue-security;

    .head-box{
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
    p{
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      margin-top: 6px;
    }
    h3{
      text-align: center;
      font-size: 28px !important;
      padding-bottom: 15px;
      border-bottom: 3px solid #6a9bc3;
      display: inline-block;
    }
    h6{
      margin: 15px 0 10px;
      text-align: center;
      font-size: 12px;
    }
    &.second-places{
      top: 0px;
    }
    .s-circle{
      background-color: #fff;
      width: 60px;
      border: 1px solid rgba(106, 155, 195, 1);
      border-radius: 100%;
      height: 60px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        text-align: center;
        margin: 0;
        font-size: 26px;
        font-weight: 400;
        line-height: 18px;
      }
      &.xs{
        width: 40px;
        height: 40px; 
        p{
          font-size: 14px;
          font-weight: 300;
        }    
      }
    }
  }
}

.ranking-text{
  margin-top: 75px;
}

.margin-helper{
  margin-bottom: 60px;
  &.divided {
    margin-bottom: 30px;
  }
  &.divided-2 {
    margin-bottom: 15px;
  }
}

.margin-for-nav{
  margin-top: 85px;
}

.margin-for-head-image{
  margin-top: 30px;
}

.margin-top-helper{
  margin-top: 60px;
}

.bold-helper{
  font-weight: 700 !important;
}

.margin-notification{
  margin-bottom: 10px;
}

.popover{
  position: fixed !important;
  box-shadow: 0 5px 10px rgba(106, 155, 195, 0.4) !important;
}
