<form id='confirm-form'>
  <h2>Lista de alimentos</h2>
<ol class='products-list'>
  Lista de alimentos
<% @donation_products.each do |product| %>
  <li>
    <%= product.category %>: <%= product.name %>(<%= product.amount %>) 
  </li>
<% end %>
</ol>
  <p class='margin-notification'>* Los productos aquí dispuestos serán registrados al presionar el botón de "confirmar" productos y serán de exclusiva privacidad.</p>
  <a class='btn-do btn-disabled'>confirmar</a>
</form>