<form>
  <h2>Lista de productos</h2>
<ol class='products-list'>
  Lista de alimentos
<% @donation_products.each do |product| %>
  <li>
    <%= product.category %>: <%= product.name %>(<%= product.amount %>) 
  </li>
<% end %>
</ol>
  <p>* Los productos aquí dispuestos serán registrados al presionar el botón de "confirmar" productos y serán de exclusiva privacidad.</p>
  <%= link_to "Confirmar", root_path, :class => "btn-do" %>
</form>