var foodList = "<li><%= @product.category %>: <%= @product.name %>(<%= @product.amount %>) </li>";
var confirm_button = "<a class='btn-do confirm' href='/''>Confirmar</a>"

$('.confirm').remove();
$('.products-list').append(foodList);
$('.btn-disabled').remove();
$('#confirm-form').append(confirm_button);
