<div class='container'>
  <div class='margin-for-nav'>
    <div class="row">
      <div class="col-md-6">
        <%= render 'form' %>
      </div>
      <div class="col-md-6">
        <%= render 'products' %>
      </div>
    </div>
  </div>
</div>