<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <h4>Contacto</h4>
        <p><span class="glyphicon glyphicon-envelope"></span>Well, the way they make shows is, they make one show. feedonate@gmail.com</p>
        <p><span class="glyphicon glyphicon-earphone"></span>Well, the way they make shows is, they make one show. +34 59305937</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>Well, the way they make shows is, they make one show. #444 5555</p>
      </div>
      <div class='col-md-4'>
        <h4>Ayuda</h4>
        <ol>
          <li><a href="#">¿Cómo hacer una donación?</a></li>
          <li><a href="#">¿Cómo solicitar una donación?</a></li>
          <li><a href="#">¿Cómo buscar un banco de alimentos?</a></li>
          <li><a href="#">¿Cómo puedo colaborar?</a></li>
          <li><a href="#">¿Cuál es el objetivo?</a></li>
        </ol>
      </div>
      <div class='col-md-4 redes'>
        <h4>Redes</h4>
        <span class='glyphicon glyphicon-thumbs-up'></span> 
        <span class='glyphicon glyphicon-hand-right'></span> 
        <span class='glyphicon glyphicon-thumbs-down'></span>
      </div>
    </div>
  </div>
</footer>